@font-face {
  font-family: "Gordita";
  src: url(./../fonts/Gordita/Gordita-Light.otf);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gordita";
  src: url(./../fonts/Gordita/Gordita-Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gordita";
  src: url(./../fonts/Gordita/Gordita-Medium.otf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gordita";
  src: url(./../fonts/Gordita/Gordita-BoldItalic.otf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Gordita";
  src: url(./../fonts/Gordita/Gordita-Bold.otf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
